
.search-area
  margin-top 40px

.search-type
  margin 50px 0
  font-size 0
  a 
     color $grey-dark
     display inline-block 
     +ActiveFocusHover()
       text-decoration none
       color $grey-dark
    
  .active
    color $black
  &-mobile
    font-size 14px
    display inline-block
    width 50% 
  &-order
    font-size 14px
    display inline-block
    width 50% 
  .mobile-icon 
    display block
    margin 0
    font-size 60px
  .order-icon
    display block
    margin 0
    font-size 48px
  .text 
    display block
    
    

.mobile-search-result
  margin 50px auto
  .mobile-area
    margin 0 0 30px 20px

.mobile-search-detail
  margin 50px auto
  .order-number
    margin 30px 0
  .circle
    position absolute 
    border 3px solid #777
    background transparent
    border-radius 50%
    left 0
    width 18px
    height 18px

  .order-trace-list
    relative()
    unstyled-list()
    li 
      relative()
      padding-left 30px
    li+li:before 
      content "  "
      position absolute 
      border 0 
      background #777
      top -29px
      left 8px
      width 2px
      height 26px
    .date
      color #777
      font-size 12px
    .description 
      color #777
    .active
      .circle 
        border-color #3c763d 
      .description
        color #3c763d
      .date
        color #3c763d

.delivery-confirm
  margin 40px auto 
  .sent 
    padding 20px 15px 
    //  background linear-gradient(top, 90% white, #777)
    margin-bottom 10px
    //box-shadow(0,5px,5px,5px,#777)
  .receive
    padding 20px 15px
    background linear-gradient(bottom, 95% $grey-lighter, #a8a8a8)
  .things
    padding 20px 15px
    background linear-gradient(bottom, 95% $grey-lighter, #a8a8a8)
  .fees
    margin-top 30px
 
.order-send
  margin 40px auto
  .receive-part
    padding-top 30px
    background linear-gradient(bottom, 95% $grey-lighter, #a8a8a8)
  .weight-area
    padding-top 30px
    background linear-gradient(bottom, 95% $grey-lighter, #a8a8a8)
  .submit-area
    margin-top 40px
