.qqbg
    width 100%
    height 100%
    padding 10px 5% 25px 5%
.qqbg-top
    margin 0 auto
.qqbg-header
    border-top 2px solid #8B4513
    text-align center
    margin 10px 0
    .qqbg-center
        background-color #8B4513
        font-size 14px
        width auto
        color white
        padding 2px 10px
        margin-bottom 0px 
.qqbg-all
    width 100%
    background-color #FFFFE0
    padding 10px 0 0 0
    text-align center
    .qqbg-color
        color black
        &:visited
            text-decoration none
        &:hover
            text-decoration none
            border-bottom 1px solid #8B4513
    .qqbg-display
        display block
        width 100%
        margin-bottom 5px
.qqbg-bk
    border 1px solid transparent
    &:active
        border 1px dashed #8B4513
.left-top
    font-size 22px
    font-weight bold
    text-align center
    .left-address
        text-align right
        font-size 16px
    .left-display
        max-width 100%
        width auto
        margin-bottom 10px
.left-content
    text-indent 2em
.qqbg-btn
    width 100%
    position fixed
    bottom 0px
    padding 7px
    color white
    background-color #EE0000