


.search-type
  margin 50px 0
  font-size 0
  a 
     color $grey-dark
     display inline-block 
     +ActiveFocusHover()
       text-decoration none
       color $grey-dark
    
  .active
    color $black
  &-mobile
    font-size 14px
    display inline-block
    width 50% 
  &-order
    font-size 14px
    display inline-block
    width 50% 
  .icon 
    display block
    margin 0
    font-size 60px
  .text 
    display block

