
// all the big global in site
body
  font-size 14px
  relative() 
  background-color $grey-lighter



.hidden
  display none

.collapsing 
    height 0
    overflow hidden
    transition  $fast-transition

.btn-verify
    position absolute
    right 0
    top 0
 //change bootstrap 
.form-group
  relative()
.form-control 
  border-radius 0
.btn 
  border-radius 0
.panel 
  border-radius 0


.btn-grey
  button-variant($grey-dark, $grey-lighter, $btn-default-border)
