
// all the big global in site
body
  font-size 14px
  background-color $grey-lighter

.index-page
  margin 50px auto

.btn-verify
    position absolute
    right 0
    top 0
 //change bootstrap 
.form-group
  relative()
.form-control 
  border-radius 0
.btn 
  border-radius 0
.panel 
  border-radius 0

.btn-danger 
  background-color $red
 
.btn-success 
  background-color $green

.panel-light 
  .panel-heading
    background-color $blue-lightest
  .panel-body 
    color $grey-dark-light
 

.btn-grey
  button-variant($grey-dark-light, $grey-lighter, $btn-default-border)

.link-grey
  color $grey-dark-light
  +ActiveFocusHover()
    color darken($grey-dark-light, 10%)
