@import 'test'

.zhy
    absolute bottom right
    

.all
    image: 'images/header.jpg'

.zhy-btn
    border-radius: bottom left 10px top right 10px
    

.zhy-btn
  clearfix()
  


.all
    size()
    

.all 
    font-family sans-serif
    -ms-text-size-adjust 100%
    -webkit-text-size-adjust 100%
    

.zhy-content
    hide-text()

.zhy-img
    hide-text()