footer.footer
  .container
    .content-container
      .kit-content-default
        .kiwi-grid
          .kiwi-col.block-1
            h3 Learn More
            ul.bd.border-none
              li
                a(href="kp-difference.html") The KP Difference
              li
                a(href="health-plans.html") Health Plans
              li
                a(href="thrive-at-work.html") Thrive at Work
              li
                a(href="insights-grid.html") Insights
              li
                a(href="contact-form.html") Contact Us
              li
                a(href="https://healthy.kaiserpermanente.org/health/care/consumer/locate-our-services/doctors-and-locations",target="_blank") Find a Doctor
              li
                a(href="#") Locate Services
              li
                a(href="#") Site Map

          .kiwi-col.block-2
            h3 Visit Our Other Sites
            span.arrow
            ul.bd
              li
                a(href="https://healthy.kaiserpermanente.org/html/kaiser/index.shtml",target="_blank") KP.org
              li
                a(href="https://individual-family.kaiserpermanente.org/healthinsurance",target="_blank") Individual & Family Plans
              li
                a(href="http://thrive.kaiserpermanente.org/",target="_blank") Thrive
              li
                a(href="https://medicare.kaiserpermanente.org/wps/portal/medicare/",target="_blank") Medicare
              li
                a(href="http://healthreform.kaiserpermanente.org/",target="_blank") Health Care Reform
              li
                a(href="http://www.kaiserpermanentejobs.org/default.aspx",target="_blank") Careers
              li
                a(href="http://share.kaiserpermanente.org/about-kaiser-permanente/",target="_blank") About Us

          .kiwi-col.smallscreen-show.block-3.s-1
            h3(id="legal") Legal
            span.arrow
            ul.bd
              li
                a(href="https://healthy.kaiserpermanente.org/health/care/consumer/ancillary/!ut/p/c5/dYzbckQwAEC_pR9gElPL5jGiNhjisoq8GFprs4idUZf6-toP6DmvZw7g4FBWi2irHzHKqgc54HppuwkzTRVDpqEzdHxCiRN48ABkh_zVwH_AELiAt_1YH7fsXsCNTP5qYfOmqV3D2njJ08nRPy3BiSRp9cBd4YtkCY1-Lkw5K6zd6KVHXSbpl2JfP5L05PE-iE9DQNgjIcL1NY4K4tX7ZtFwVO5W3TylKL8dVHWTZv-qLowbXwzeVK-3PDcuOywZC6Ncfw-sq4GiOUrWfQYBHYcGPAcUDmf89geRwxDJ/dl3/d3/L2dBISEvZ0FBIS9nQSEh/",target="_blank") Accessibility
              li
                a(href="https://healthy.kaiserpermanente.org/health/care/consumer/ancillary/!ut/p/c5/dYztdkMwAECfxQM4CbWOn6EqFZ-lTP44GVU6CaaHtU8_e4Dd-_eeCyjYFGzpbuzRDYL14APQfXl0k9A0FQRDzdDhybewdQoI3AD5Jv1r4D8gCFxAb_3wud3ytoA_1uyvB2Q2msIdb1J3r1mNhzpxe9Wc4zgPbR6f-UMXIyrXBlfV_WDKWVaLb-84FpcsjyttID61Om9aLDv6OpPMVhluiXopmkB_N9Zp15YG1GqFQCG3BId1Or657IpZhJ3qtX8mmkhbAT0aLulOvq9odp3oiSQJBHjgVzByI-I6kn4Bxnr4LA!!/dl3/d3/L2dBISEvZ0FBIS9nQSEh/",target="_blank") Terms & Conditions
              li
                a(href="https://healthy.kaiserpermanente.org/health/care/consumer/center/!ut/p/c5/dYxLDoIwFADPwgHMK0QQlyColE8DtUrYNGgIf-qCb0-vHsCZ9Qxk8HXI57rMx1oMeQcpZAY_Y0psW7UQ0YmOvFC_HLERaeh0gMevMDj6g4UAQ1Z24vl9PdCes8ZchE_7hTX3OKLl7LsNkduIJR2xPQXM65jDaen5m7lGKuOijlVCwzmU7ZrIlww2jftOsWIn5DdpDundTSy72k3VokB0FX0B73aQhaUoH7Oqpss!/dl3/d3/L2dBISEvZ0FBIS9nQSEh/",target="_blank") Technical Information
              li
                a(href="http://thrive.kaiserpermanente.org/privacy-statement",target="_blank") Privacy Policy
              li
                a(href="/",target="_blank",class="onmobile") Site Map

          .kiwi-col.social.block-4
            h3 Social
            ul.bd.border-none
              li
                a(href="http://www.linkedin.com/company/1550?trk=tyah",target="_blank") 
                  .social-icon
                    span.fa.fa-linkedin
                  p Linkedin
              li
                a(href="https://www.youtube.com/playlist?list=PL8BE5425FCBF171D7",target="_blank")
                  .social-icon
                    span.fa.fa-youtube
                  p Youtube 

        .copy-block
          .copyright © 2015 Kaiser Permanente
          p Most features are available only to members receiving care at Kaiser Permanente medical facilities.
          p.declare Kaiser Permanente health plans around the country: Kaiser Foundation Health Plan, Inc., in Northern and Southern California and Hawaii • Kaiser Foundation Health Plan of Colorado • Kaiser Foundation Health Plan of Georgia, Inc., Nine Piedmont Center, 3495 Piedmont Road NE, Atlanta, GA 30305, 404-364-7000 • Kaiser Foundation Health Plan of the Mid-Atlantic States, Inc., in Maryland, Virginia, and Washington, D.C., 2101 E. Jefferson St., Rockville, MD 20852 • Kaiser Foundation Health Plan of the Northwest, 500 NE Multnomah St., Suite 100, Portland, OR



