
extends templates/master

block vars

block title
  | 手机号查询

block styles

block content
  .delivery-confirm
    .container.sent
        p 
          span 寄件人：
          span 王丽达
        p 
          span 手机号
          span 18533557655
        p 
          | 北京北京市大兴区 北街
    .container.receive
        p 
          span 寄件人：
          span 王丽达
        p 
          span 手机号
          span 18533557655
        p 
          | 北京北京市大兴区 北街
    .container.things 
        p 
          span 预计重量：
          span 80 kg 
        p 
          span 备注：
          span 玻璃物品 
        p.fees
          .row 
            .col-xs-6.centered
              span 运费估计：
              span 8元 
            .col-xs-6.centered
              span 预计实效：
              span 2天
