extends templates/master

block vars

block title
  | 手机号查询

block styles

block content
  .container.index-page 
    .list-group 
      a(href="./add-address.html",class="list-group-item") 添加地址 
      a(href="./modify-address.html",class="list-group-item") 修改地址 
      a(href="./manage-address.html",class="list-group-item") 管理地址 
      a(href="./send.html",class="list-group-item") 输入邮寄信息 
      a(href="./delivery-confirm.html",class="list-group-item") 确认邮寄信息 
      a(href="./mobile-search.html",class="list-group-item") 手机号查询 
      a(href="./order-search.html",class="list-group-item") 订单号查询 
      a(href="./mobile-search-detail.html",class="list-group-item") 手机查询详情 
      a(href="./mobile-search-result.html",class="list-group-item") 手机查询结果 
