extends templates/master

block vars

block title
  | 手机号结果列表

block styles

block content
  .container.mobile-search-result
    .mobile-area 
      p 
        span 手机号：
        span 186 1010 3214
    .order-list
      .panel.panel-default.panel-light
        .panel-heading
          span.text-muted 已签收
          span.pull-right 已评价
        .panel-body
          p 
            span 运单号：
            span 1107110222120
          p 
            span 发件人：
            span 杨过 
          p 
            span 收件人：
            span 大桶

      .panel.panel-default.panel-light
        .panel-heading
          span.text-green 配送中
        .panel-body
          p 
            span 运单号：
            span 1107110222120
          p 
            span 发件人：
            span 杨过 
          p 
            span 收件人：
            span 大桶

    
      .panel.panel-default.panel-light
        .panel-heading
          span.text-red 拒收
          a(href="/",class="pull-right link-blue")
            | 待评价
        .panel-body
          p 
            span 运单号：
            span 1107110222120
          p 
            span 发件人：
            span 杨过 
          p 
            span 收件人：
            span 大桶

      .panel.panel-default.panel-light
        .panel-heading
          span 已签收
          a(href="/",class="pull-right link-blue")
            | 待评价

        .panel-body
          p 
            span 运单号：
            span 1107110222120
          p 
            span 发件人：
            span 杨过 
          p 
            span 收件人：
            span 大桶

 
  
