extends templates/master

block vars

block title
  | 手机号结果列表

block styles

block content
  .container.mobile-search-detail
    .mobile-area 
      p 
        span 手机号：
        span 186 1010 3214
    .order-number
      .panel.panel-default.panel-light-dark
        .panel-heading
          span.text-green 待入站 
          a(href="/",class="pull-right link-grey")
            i.fa.fa-retweet.retweet-icon
        .panel-body
          .media
            .media-left
              img(src="./images/head.png",class="thumbnail-head")
            .media-body
              p.p3 
                span 运单号：
                span 1288888888
              p.p3 
                span 取件人：
                span 如风达百
              p.p3 
                span 商家： 
                span 小酒窝电子科技有限公司
      // 
        span 运单号：
        span.number 110711022212 
        span.status (已签收)
        span 、 
        span 发件人：
        span.deliverior 国
        span 、 
        span 收件人：
        span.receiver 国
        span 、 
        span 收获地址：
        span 北京海淀区花园东街甲号院子1号楼1单元305室东街甲号院1号：
      
    ul.order-trace-list
      li.active 
        .circle
        p
          span.description 运单已送达
          span &nbsp;
          a(href="/") 配送员评价
     
          br
          span.date 2015-6-3 12:12:12
      li 
        .circle
        p
          span.description 配送员配送中
          span &nbsp;
          a(href="/") 13812345678
          br 
          span.date 2015-6-3 12:12:12
      li 
        .circle
        p
          span.description 配送员配送中
          span &nbsp;
          a(href="/") 13812345678
          br 
          span.date 2015-6-3 12:12:12
