extends templates/master

block vars

block title
  | 手机号查询

block styles

block content
  .container 
    .search-type 
      .search-type-mobile.centered
          a(href="/")
            i.fa.fa-mobile.mobile-icon
            span.text 手机号查询
      .search-type-order.centered
          a(href="/",class="active")
            i.fa.fa-file.order-icon
            span.text 运单号查询
    form
      .form-group
        input(type="text",placeholder="请输入运单号",class="form-control")
      .form-group
        button(class="btn  btn-grey btn-block") 扫一扫
      .form-group.search-area 
        button(class="btn  btn-danger btn-block") 查询
