extends templates/master

block vars

block styles
                    
block content
    .qqbg
        .left-top
            p 我们离家的日子，他们还好吗
            p.left-address作者：网页
            img(src="images/right.png", alt="亲情图" class="left-display")
        p.left-content
            |我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗
        p.left-content
            |我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗
        p.left-content
            |我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗
        p.left-content
            |我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗我们离家的日子，他们还好吗
    button(type="button").btn.qqbg-btn#qqbg-footer 寄一份心意给Ta