extends templates/master

block vars

block title
  | 手机号查询

block styles

block content
  .order-send 
    form(class="form-horizontal input-form")
      .container.send-part
        .form-group
          label(class="col-xs-3 control-label form-label") 寄&nbsp;&nbsp;件&nbsp;人： 
          .col-xs-9.input-area
            input(type="text",class="form-control")
        .form-group.input-area
          label(class="col-xs-3 control-label form-label") 手&nbsp;&nbsp;机&nbsp;号： 
          .col-xs-9.input-area
            input(type="text",class="form-control")
        .form-group
          label(class="col-xs-3 control-label form-label") 寄件地址： 
          .col-xs-9.input-area
            textarea(class="form-control",row="5",cols="10")
            .locate.centered
                a(href="",class="link-grey") 
                  img(src="./images/locate.png",class="locate-icon")

        .form-group
          .col-xs-9.col-xs-offset-3.input-area
            a(href="#aa",class="btn btn-grey btn-block")
              span 从地址管理里添加
              span.left-arrow.fa.fa-angle-right

      .receive-part
        .container
          .form-group
            label(class="col-xs-3 control-label form-label") 备注： 
            .col-xs-9.input-area
              textarea(class="form-control",row="3")
          .form-group.centered
            a(href="#fee-search",data-toggle="collapse",class="fee-link") 
              span 运费&实效查询
              i.fa.fa-angle-down
              i.fa.fa-angle-up.hidden
      #fee-search.collapse
        .container.receive-part-receiver
          .form-group
            label(class="col-xs-3 control-label form-label") 寄&nbsp;&nbsp;件&nbsp;人： 
            .col-xs-9.input-area
              input(type="text",class="form-control")
          .form-group
            label(class="col-xs-3 control-label form-label") 手&nbsp;&nbsp;机&nbsp;号： 
            .col-xs-9.input-area
              input(type="text",class="form-control")
          .form-group
            label(class="col-xs-3 control-label form-label") 寄件地址： 
            .col-xs-9.input-area
              textarea(class="form-control",row="3")
              .locate.centered
                a(href="",class="link-grey") 
                  img(src="./images/locate.png",class="locate-icon")
          .form-group
            .col-xs-9.col-xs-offset-3.input-area
              a(href="#aa",class="btn btn-grey btn-block")
                span 从地址管理里添加
                span.left-arrow.fa.fa-angle-right
        .weight-area
          .container
            .form-group
              label(class="col-xs-3 control-label form-label") 预计重量： 
              .col-xs-9.input-area
                input(type="text",class="form-control",placeholder="kg")
            .summary-area
              .row 
                .col-xs-6.estimate
                  p.centered
                    span 估计运费：
                    span.red-block 8元
                  p.small.text-muted.tip 最终价格已快递员报价为准
                .col-xs-6 
                  p.centered 
                    span 预计时间：
                    span.red-block 2天
                  p.small.text-muted.tip 最终价格已快递员报价为准

      .submit-area.container
        button(class="btn btn-danger btn-block") 提交订单
