@font-face {
  font-family: 'Gotham Book';
  src: url("../fonts/Gotham-Book.eot?");
  src: local('☺'), url("../fonts/Gotham-Book.eot?#iefix") format('embedded-opentype'), url("../fonts/Gotham-Book.woff") format('woff'), url("../fonts/Gotham-Book.ttf") format('truetype'), url("../fonts/Gotham-Book.svg#TisaSansOT") format('svg');
}
@font-face {
  font-family: 'Gotham Bold';
  src: url("../fonts/Gotham-Bold.eot?");
  src: local('☺'), url("../fonts/Gotham-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Gotham-Bold.woff") format('woff'), url("../fonts/Gotham-Bold.ttf") format('truetype'), url("../fonts/Gotham-Bold.svg#TisaSansOT") format('svg');
}
@font-face {
  font-family: 'Gotham Medium';
  src: url("../fonts/Gotham-Medium.eot?");
  src: local('☺'), url("../fonts/Gotham-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/Gotham-Medium.woff") format('woff'), url("../fonts/Gotham-Medium.ttf") format('truetype'), url("../fonts/Gotham-Medium.svg#TisaSansOT") format('svg');
}
@font-face {
  font-family: 'Gotham Light';
  src: url("../fonts/Gotham-Light.eot?");
  src: local('☺'), url("../fonts/Gotham-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Gotham-Light.woff") format('woff'), url("../fonts/Gotham-Light.ttf") format('truetype'), url("../fonts/Gotham-Light.svg#TisaSansOT") format('svg');
}