// Base styles

img
    height                    auto
    width                    100%

    &.inline
        vertical-align        middle
        width                auto

svg
    pointer-events            none
    
// Helper classes

