// Base styles

img
    height                    auto
    width                    100%

    &.inline
        vertical-align        middle
        width                auto

svg
    pointer-events            none
    
// Helper classes

.logo
    fl()
    display                    inline-block
    margin                    11px 0
    
    img
        width                auto