// ANIMATIONS

$fast-transition =        0.3s all ease-in-out
$slow-transition =        0.8s all ease-in-out

// COLOURS
$red-heavy = #a94442
$primary-grey = #666
$primary-color = #0079aa // #336ca6
 
$grey-lighter  = #eee
$grey = #e4e1de
$grey-dark-light = #242424
$grey-dark     = #464646 
$border-grey = #bebebe
$grey-middle = #e7e7e7

$black =                #000000
$dark-black =           #333333
$white =                #ffffff

$input-border = #D9D9D9
$x-light-grey = #f8f8f8
$light-grey = #f7f7f7

$deep-blue = #003b71
$mid-blue = #006ba6
$another-blue = #0079aa
$light-blue = #90cef1

$deep-teal = #008080

$mid-teal = #00a19b

$light-teal = #55dbd6

$deep-green = #4a7628

$mid-green = #57a635

$light-green = #aade33

$deep-rose = #bb1654

$mid-rose = #f05674

$light-rose = #ffa4b4

$deep-orange = #e5661f

$mid-orange = #ff9e16

$light-orange = #ffd200

$deep-violet = #472F91

$mid-violet = #606fb1

$light-violet = #97adda

$light-chalk = #d8d1ca

$mid-aqua = #ceecfd

$light-aqua = #eaf7ff

$dark-chalk = #585858




