// ANIMATIONS

$fast-transition =        0.3s all ease-in-out
$slow-transition =        0.8s all ease-in-out

// COLOURS
 
$grey-lighter  = #eff0f1
$grey-dark-light = #aaabac
$grey-middle = #e4e5e6
$grey-dark     = #464646 

$black =                #000000
$white =                #ffffff

$blue = #8082f0
$blue-lightest = #FAFBFC

$green = #2fa21d
$green-heavy = #30a11c

$pink  = #ed909f
$pink-red = #ee2261


$red = #a9171b
